@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Montserrat", sans-serif;

  --color-primary: #829265;
  --color-secondary: #DCAE96;
  --color-background: #FDFCFB;
  --color-foreground: #2C3E50;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}